<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<!-- git web interface version 1.7.10.4, (C) 2005-2006, Kay Sievers <kay.sievers@vrfy.org>, Christian Gierke -->
<!-- git core binaries version 1.7.10.4 -->
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<meta name="generator" content="gitweb/1.7.10.4 git/1.7.10.4"/>
<meta name="robots" content="index, nofollow"/>
<title>git.anomalia Git - vband/summary</title>
<link rel="stylesheet" type="text/css" href="static/gitweb.css"/>
<link rel="alternate" title="vband - log - RSS feed" href="/?p=vband;a=rss" type="application/rss+xml" />
<link rel="alternate" title="vband - log - RSS feed (no merges)" href="/?p=vband;a=rss;opt=--no-merges" type="application/rss+xml" />
<link rel="alternate" title="vband - log - Atom feed" href="/?p=vband;a=atom;opt=--no-merges" type="application/atom+xml" />
<link rel="alternate" title="vband - log - Atom feed (no merges)" href="/?p=vband;a=atom;opt=--no-merges" type="application/atom+xml" />
<link rel="shortcut icon" href="static/git-favicon.png" type="image/png" />
</head>
<body>
<div class="page_header">
<a title="git homepage" href="http://git-scm.com/"><img class="logo" height="27" src="static/git-logo.png" alt="git" width="72" /></a><a href="/">projects</a> / <a href="/?p=vband;a=summary">vband</a> / summary
</div>
<form method="get" action="/" enctype="application/x-www-form-urlencoded">
<div class="search">
<input name="p" type="hidden" value="vband" />
<input name="a" type="hidden" value="search" />
<input name="h" type="hidden" value="HEAD" />
<select name="st" >
<option selected="selected" value="commit">commit</option>
<option value="grep">grep</option>
<option value="author">author</option>
<option value="committer">committer</option>
<option value="pickaxe">pickaxe</option>
</select><sup><a href="/?p=vband;a=search_help">?</a></sup> search:
<input type="text" name="s"  />
<span title="Extended regular expression"><label><input type="checkbox" name="sr" value="1" />re</label></span></div>
</form>
<div class="page_nav">
summary | <a href="/?p=vband;a=shortlog">shortlog</a> | <a href="/?p=vband;a=log">log</a> | <a href="/?p=vband;a=commit;h=88d3bd17b89c1cb05836955326bd5d1e922a09ad">commit</a> | <a href="/?p=vband;a=commitdiff;h=88d3bd17b89c1cb05836955326bd5d1e922a09ad">commitdiff</a> | <a href="/?p=vband;a=tree">tree</a><br/>
<br/>
</div>
<div class="title">&nbsp;</div>
<table class="projects_list">
<tr id="metadata_desc"><td>description</td><td>vband android app</td></tr>
<tr id="metadata_owner"><td>owner</td><td>git</td></tr>
<tr id="metadata_lchange"><td>last change</td><td><span class="datetime">Sat, 16 Mar 2013 22:05:26 +0000</span> (<span class="atnight">02:05</span> +0400)</td></tr>
</table>
<div class="header">
<a class="title" href="/?p=vband;a=shortlog">shortlog</a>
</div>
<table class="shortlog">
<tr class="dark">
<td title="2013-03-16"><i>23 hours ago</i></td>
<td class="author"><a title="Search for commits authored by Andrew 'Necromant' Andrianov" class="list" href="/?p=vband;a=search;s=Andrew+%27Necromant%27+Andrianov;st=author"><span title="Andrew 'Necromant' Andrianov">Andrew 'Necromant... </span></a></td><td><a class="list subject" href="/?p=vband;a=commit;h=88d3bd17b89c1cb05836955326bd5d1e922a09ad">initial commit. working on 2.3.5</a> <span class="refs"> <span class="head" title="heads/master"><a href="/?p=vband;a=shortlog;h=refs/heads/master">master</a></span></span></td>
<td class="link"><a href="/?p=vband;a=commit;h=88d3bd17b89c1cb05836955326bd5d1e922a09ad">commit</a> | <a href="/?p=vband;a=commitdiff;h=88d3bd17b89c1cb05836955326bd5d1e922a09ad">commitdiff</a> | <a href="/?p=vband;a=tree;h=88d3bd17b89c1cb05836955326bd5d1e922a09ad;hb=88d3bd17b89c1cb05836955326bd5d1e922a09ad">tree</a> | <a title="in format: tar.gz" href="/?p=vband;a=snapshot;h=88d3bd17b89c1cb05836955326bd5d1e922a09ad;sf=tgz">snapshot</a></td>
</tr>
</table>
<div class="header">
<a class="title" href="/?p=vband;a=heads">heads</a>
</div>
<table class="heads">
<tr class="dark">
<td><i>23 hours ago</i></td>
<td class="current_head"><a class="list name" href="/?p=vband;a=shortlog;h=refs/heads/master">master</a></td>
<td class="link"><a href="/?p=vband;a=shortlog;h=refs/heads/master">shortlog</a> | <a href="/?p=vband;a=log;h=refs/heads/master">log</a> | <a href="/?p=vband;a=tree;h=refs/heads/master;hb=refs/heads/master">tree</a></td>
</tr></table>
<div class="page_footer">
<div class="page_footer_text">vband android app</div>
<a class="rss_logo" title="log RSS feed" href="/?p=vband;a=rss">RSS</a>
<a class="rss_logo" title="log Atom feed" href="/?p=vband;a=atom">Atom</a>
</div>
<script type="text/javascript" src="static/gitweb.js"></script>
<script type="text/javascript">
window.onload = function () {
	var tz_cookie = { name: 'gitweb_tz', expires: 14, path: '/' };
	onloadTZSetup('local', tz_cookie, 'datetime');
};
</script>
</body>
</html>